/* font weight */
$B: 700;
$SB: 600;
$R: 500;
$M: 400;
$L: 300;


/* colors */
$linear1: #0CBAF1;
$linear2: #E95CE9;
$purple: #ca6aeb;
$blue: #19b5f1;
$black100: #181818;
$black50: #252532;
$grey1: #b0b0b8;
$grey2: #d1d1d1;
$white: #ffffff;

/* alerts */
$success: #00c566;
$error: #ff4747;
$warning: #FACC15;